body{
  text-align: center;
  font-family: Allerta, sans-serif;
  font-size: 14px;
}

header {
  background: url();
  background-size: cover;  
  font-family: Allerta Stencil, sans-serif;
}

div > h1 {
  font-family: Allerta Stencil, sans-serif;
  font-size: 25px;
  position: relative;
  margin: 10px;
  padding: 20px 40px;
  text-align: center;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 4px;
}

.country-input,
.countrydetails-container,
.warn-container{
  position: relative;
  margin: 100px;
  padding: 30px;
  text-align: center;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 4px;
}

.flag{
  max-width: 400px;
  height: 300px;
}

.travel-warn,
.country-details {
  position: relative;
  background-color: #f5f5f5;
  margin: 30px;
  padding: 50px;
  text-align: center;
  display: block;
  border: 2px solid #000050;
  border-radius: 4px;
}

#blank-num,
#blank-conv {
  width: 70px; 
}

#blank-code {
  width: 50px; 
}




button {
    margin: 12px;
    background-color: #f5f5f5;
    text-align: center;
    display: inline-block;
    border: 2px solid #000000;
    border-radius: 4px;
  }

#page2 {
  display: inline-block;
  font-family:;
}

a {
  text-decoration: none;
  color:#000040;
}


footer {
  text-decoration: none;
  color:#000040;
}


@media  (max-width: 1920px){

}




/* how to get things to toggle show/hide
<script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script> */