/* ----------------------- Basic CSS  -----------------------  */

body{
  text-align: center;
  font-family: "Allerta", sans-serif;
  font-size: 14px;
  height: 1000px;
  background: url("https://res.cloudinary.com/zumariposa/image/upload/v1591991356/WebBackground_cpsrz6.png");
  background-size: cover;
  background-repeat: no-repeat;
}


header {
  font-family: "Chelsea Market", sans-serif;
  font-size: 100px;
  /* color: #ffffff; */
}

div > h2 {
  font-family: "Chelsea Market", sans-serif;
  font-size: 60px;
  position: relative;
  margin: 10px;
  padding: 20px 40px;
  text-align: center;
  display: inline-block;
  background-color: rgba(0, 0, 0, .3);
  border: 2px solid #000000;
  border-radius: 4px;
}


/* ----------------------- Containers + Contents  -----------------------  */



.countrydetails-container,
.warn-container,
.currency-container {
  /* background-color: #f5f5f5; */
  position: relative;
  margin: 100px;
  padding: 30px;
  text-align: center;
  display: inline-block;
}

img {
  max-width: 600px;
  height: 300px;
}

.travel-warn,
.country-details,
.currency {
  position: relative;
  background-color: rgba(0, 0, 0, .3);
  border: 2px solid #000000;
  margin: 30px;
  padding: 80px;
  text-align: center;
  display: block;
  border-radius: 4px;
  font-size: 50px;
}

.currency {
  margin: 20px;
padding: 5px 10px;
  display: flex;
  align-items: center;

}

button {
  font-family: "Chelsea Market", sans-serif;
  font-size: 30px;
    margin: 12px;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    border: 2px solid #000000;
    border-radius: 8px;
  }

#page2 {
  display: flex;
  justify-content: center;
}

input[type=text]{
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  padding: 5px;
  font-size: 20px;
  color: #000000;
}

::-webkit-input-placeholder,
 { /* Chrome/Opera/Safari */
  color: #000000;
  font-size: 20px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000000;

input#blank-num,
input#blank-conv {
  width: 200px;
}

.curr-codes{
display: inline;
}


/* ----------------------- Footers  -----------------------  */

a {
  text-decoration: none;
  color:#000000;
}


footer {
  text-decoration: none;
  color:#000040;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 100px 10px;

}


/* ----------------------- Media Queries  -----------------------  */


@media  (max-width: 1920px){

}




/* how to get things to toggle show/hide
<script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script> */